

@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');



body {
  margin: 0;
  background-color: #f2E8D5;
}

p ,li, h3, h4{
  font-family: Arial, Helvetica, sans-serif;
}

li {
  color: #f2E8D5;
}

h1,h2{
  font-family: 'Vibes', cursive;
}


header {
  background-color: #8c483A;
  padding: 15px;
}
header ul {
  float: right;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #f2E8D5;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color:#8c483A;
  text-align: center;
  color: #f2E8D5;
}

.content img {
  height: 50%;
  width: 50%;
}

button {
  padding: 15px;
  background-color: #032F3C;
  color:  #f2E8D5;
  font-size: 15px;
  border-radius: 4px;
}

.mySkills h1, .myWork h1 {
  text-align: center;
  background-color: #8c483A;
  color:  #f2E8D5;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*<!--  My UX Skills section coded using CSS flex -->*/

.flexContainer {
 display: flex;
 flex-direction: row;
}

.skillsBox {
  width: 30%;
  padding: 1%;
  text-align: center;
  grid-template-rows: 1fr;
}


/*<!--  My UX Skills section coded using CSS Grid -->}*/
.workGrid {
  margin: 0 5px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "projectImageOne projectDetailsOne"
  "projectImageTwo projectDetailsTwo"
  "projectImageThree projectDetailsThree";
}

#projectImageOne {
  grid-area: projectImageOne;
}
#projectImageTwo {
  grid-area: projectImageTwo;
}
#projectImageThree {
  grid-area: projectImageThree;
}
#projectDetailsOne {
  grid-area: projectDetailsOne;
}
#projectDetailsTwo {
  grid-area: projectDetailsTwo;
}
#projectDetailsThree {
  grid-area: projectDetailsThree;
}

.myWork h3 {
  text-align: center;
}



@media screen and (max-width: 600px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
  }
  .skillsBox {
    width: 100%;
    /*grid-template-rows: 1fr 1fr 1fr;*/
  }
  .workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "projectImageOne" 
    "projectDetailsOne" 
    "projectImageTwo" 
    "projectDetailsTwo" 
    "projectImageThree" 
    "projectDetailsThree";
  }
  .projectImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
}



.projectImage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 20px;
}

.projectDetails {
  margin: 20px 20px;
}



footer {
  background-color: #8c483A;;
  padding: 5px;
  color: #f2E8D5;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}